
/* --------------------------------------- */
/* BASIC SETUP */
/* --------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #fff;
  color: #011835;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.clearfix {zoom: 1}
.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* --------------------------------------- */
/* REUSABLE COMPONENTS */
/* --------------------------------------- */

.row {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  padding: 80px 0;
}

/*.box {
  padding: 1%;
}*/

/* ---------HEADINGS---------*/

h1,
h2,
h3 {
  font-weight: 300;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%;
  word-spacing: 4px;
  letter-spacing: 1px;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
}



/* ---------BUTTON---------*/
.btn:link,
.btn:visited {
  display: inline-block;
  text-transform: uppercase;
  padding: 14px 28px;
  text-decoration: none;
  font-weight: bold;
  font-size: 75%;
}

.btn:hover,
.btn:active {

}

.btn-bg {
  padding: 20px 44px !important;
  letter-spacing: 2px;
  background-color: #012F68;
  margin-bottom: 50px;
  color: #FFF;
}

.btn-main {
  background-color: #FFF;
  color: #001835;
}

/*------Section Intro-------*/

.intro h2 {
  font-family: "Domine", serif;
  font-size: 250%;
  letter-spacing: 0px;
  font-weight: bold;
  margin-top: 80px;
  color: #011834;
}

.intro p {
  line-height: 35px;
  text-align: center;
  width: 75%;
  margin: 0px auto;
  font-weight: 100;
  word-spacing: 1px;
}

.intro:after {
  display: block;
  content: " ";
  background-color: #011834;
  width: 125px;
  height: 3px;
  margin: 0 auto;
  margin-top: 30px
}


/* --------------------------------------- */
/* HEADER */
/* --------------------------------------- */

header {
  padding: 30px 30px 0;
  background-image: url(img/intro-bg.jpg);
  background-size: contain;
  background-position: center;
  background-attachment: fixed;
}

.logo {
  width: 95px;
  height: auto;
}

.header-intro {
  margin: 100px 0 0;
  text-align: center;
  padding: 0 13%;
}

.header-intro h3 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 98%;
  font-weight: 700;
  color: #FEFEFE;
}

.header-intro h1 {
  font-family: "Domine", serif;
  font-weight: 700;
  font-size: 255%;
  color: #EC244C;
  line-height: 1.3;
  letter-spacing: 0;
  word-spacing: 0;
}

.buttons {
  margin-top: 35px;
  margin-bottom: 60px;
}

.btn-header {
  border: 4px solid #A4A6A8;
  color: #FEFEFE;
  letter-spacing: 2px;
  margin: 0 10px;
}

.header-intro img {
  width: 100%
}

/* --------------------------------------- */
/* FEATURES SECTION */
/* --------------------------------------- */

section.features-section {
  background-color: #F9DA4F;
}

.features-list {
  margin-top: 50px;
}

.feature {
  padding: 0 25px 15px;
}

.count {
  font-weight: bold;
  font-size: 40px;
  color: #EC244C;
  margin-bottom: 20px;
  display: block;
}

.feature-name {
  font-weight: bold;
}

.feature-detail {
  color: #292C34;
  padding-top: 5px;
  line-height: 30px;
  font-size: 80%;
}

/* --------------------------------------- */
/* STUFF-SECTION */
/* --------------------------------------- */

.stuff-section {
  padding: 0;
  height: 1323px;
}

.stuff-section h5 {
  text-transform: uppercase;
  color: #CDD0D6;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.stuff-section h2 {
  text-align: left;
  font-family: "Domine", serif;
  font-weight: 700;
}

.stuff-section h2:after {
  display: block;
  content: " ";
  background-color: #CDD0D6;
  width: 50px;
  height: 3px;
  margin-top: 15px;
}

.stuff-section p {
  line-height: 30px;
  font-size: 80%;
  margin-bottom: 35px;
}

.stuff-section a {
  background-color: #BEBEBE;
  color: #011835;
}


.content {
  position: relative;
}

.description {
  width: 60%;
  position: absolute;
  top: 300px;
  transform: translateY(-50%);
  text-align: left;
}

.left {
  right: 0;
  padding: 0 40px 0 25px;
}

.display {
  height: 661px;
}

.display {
  margin: 0;
  position: relative;
  background-color: #E2E5E7;
}

.right {
  padding: 0 1px 0 70px;
}

.cool-stuff img {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 60%;
}

.video-stuff figure {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 60%;
  margin: 0;
}


/* --------------------------------------- */
/* STATS-SECTION */
/* --------------------------------------- */

section.stats-section {
  background-color: #001835;
  height: 300px;
  padding: 0 0;
}

.stats-row {
  margin: 0px 13%;
  padding: 45px 0;
  color: white;
}

.stats-list {
  text-align: center;
  text-transform: uppercase;
}

.stats-list i {
  font-size: 300%;
  color: #F9DA4F;
}

.stats-list i:after {
  content: '';
  display: block;
  background-color: rgba(249, 218, 79, 0.52);
  height: 1px;
  width: 70px;
  margin: 15px auto;
}

.stats-list h3 {
  font-weight: bold;
  font-size: 200%;
}

.stats-list h5 {
  font-weight: bold;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.3);
  font-size: 75%;
}


/* --------------------------------------- */
/* PLANS-SECTION */
/* --------------------------------------- */

.plans-section {
  background-color: #E2E5E7;
}

.intro {
  margin-bottom: 75px;
}

.plans-list {
  margin: 0 3%;
}

.plan {
  padding: 0 20px;
  text-align: center;
}

.plan-content {
  background-color: #FFF;
}

.plan-content.popular {
  background-color: #012F68;
  color: #FFF;
}


.plan-content a.status{
  background-color: #ED254D;
  color: #FFF;
  letter-spacing: 3px;
  font-size: 60%;
  padding: 15px 50px;;
}

.hide {
  visibility: hidden;
}

.plan-name {
  font-size: 130%;
  margin: 20px 0;
}

.plan-name:after {
  content: "";
  display: block;
  background-color: #B3BAC2;
  height: 2px;
  width: 27%;
  margin: 20px auto;
}

.plan-cost {
  font-size: 300%;
  font-family: "Domine", serif;
  font-weight: bold;
  margin-bottom: 10px;
}

.plan-cost:before {
  content: "$ ";
  font-family: 'Roboto', sans-serif;
  vertical-align: super;
  font-size: 35%;
  font-weight: bold;
}

.plan-cost:after {
  content: "Per month";
  display: block;
  font-size: 25%;
  color: #B3BAC2;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
}

.plan-features {
  margin: 40px 0;
}

.plan-content li {
  list-style: none;
  font-size: 85%;
  color: #B3BAC2;
}


.plan-content li strong {
  color: #011835;
}

.popular li strong {
  color: #FFF;
}
.popular li strong:before {
  content: " ";
}

.plan-content li:after {
  content: "";
  display: block;
  background-color: #B3BAC2;
  height: 0.8px;
  width: 80%;
  margin: 12px auto;
}

.plan-name {
  font-weight: bold;

}

.popular .btn-bg {
  background-color: #FFF;
  color: #012F68;
}

.popular {
  transform: scale(1.05);
}


/* --------------------------------------- */
/* TESTIMONIALS SECTION */
/* --------------------------------------- */

.testimonials h2 {
  font-weight: bold;
  letter-spacing: -1px;
  font-size: 160%;
}

.testimonials h2:after {
  content: "";
  display: block;
  background-color: #B3BAC2;
  height: 3px;
  width: 6%;
  margin: 35px auto;
}

.testimonials .row {
  text-align: center;
}

#slider p {
  font-size: 150%;
  font-family: "Domine", serif;
  line-height: 50px;
  margin-bottom: 20px;
}

#slider p.author-name {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 90%;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.flexslider {
  margin-bottom: 20px;
}

.flexslider-nav li {
  display: inline-block;
}

.flexslider-nav img {
  cursor: pointer;
  width: 100px;
  height: auto;
  border-radius: 50%;
  margin: 0 10px;
  opacity: 0.5;
}

.flexslider-nav img:hover {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

img.flex-active {
  opacity: 1;
  transform: scale(1.1);
  border: 3px solid rgba(0, 0, 0, 1);
}


/* --------------------------------------- */
/* DOWNLOAD SECTION */
/* --------------------------------------- */

.download-section {
  background-color: #02162E;
  color: #FFF;
  text-align: center;
}

.download-section h2 {
  color: #FFF;
  font-size: 230%;
}

.download {
  width: 80%;
  margin: 0 auto 50px;
}

.download:after {
  display: none;
}

/* --------------------------------------- */
/* NEWSLETTER SECTION */
/* --------------------------------------- */

.newsletter-section {
  background-color: #00132B;
  text-align: center;
}

.notify p {
  color: #FFF;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 150%;
}

.email {
  width: 80%;
  margin: 55px auto 0;
}
.email input {
  background-color: #000D1E;
  color: #FFF;
  padding: 20px 44px;
  font-size: 75%;
  border: 0px;
  width: 60%;
}

/* --------------------------------------- */
/* FOOTER */
/* --------------------------------------- */


footer {
  text-align: center;
}

.social-sites {
  background-color: #111111;
  color: #FFF;
}

.social-list {
  font-size: 230%;
  margin-left: 13%;
  margin-right: 7%;
}

.social-list .col {
  margin: 0;
}

.social-icon {
  border-left: 1px ridge #1D1D1D;
  border-right: 1px ridge #1D1D1D;
  padding: 35px 0;
}

.contact-us {
  background-color: #0E0E0E;
  text-align: center;
  color: rgba(255, 255, 255, 0.22);
  padding: 60px 0;
}

.contact-us h4 {
  color: #FFF;
  font-size: 95%;
  margin-bottom: 25px;
}

.contact-us i {
  margin-right: 6px;
}

.contact-us ul {
  list-style: none;
  line-height: 32px;
  font-size: 80%;
}

.contact-us a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.22);
}
