
/* --------------------------------------- */
/* BASIC SETUP */
/* --------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #fff;
  color: #011835;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.clearfix {zoom: 1}
.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* --------------------------------------- */
/* REUSABLE COMPONENTS */
/* --------------------------------------- */

.row {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  padding: 80px 0;
}

/*.box {
  padding: 1%;
}*/

/* ---------HEADINGS---------*/

h1,
h2,
h3 {
  font-weight: 300;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%;
  word-spacing: 4px;
  letter-spacing: 1px;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
}



/* ---------BUTTON---------*/
.btn:link,
.btn:visited {
  text-transform: uppercase;
  padding: 14px 28px;
  text-decoration: none;
  font-weight: bold;
  font-size: 75%;
}

.btn:hover,
.btn:active {

}
/* --------------------------------------- */
/* HEADER */
/* --------------------------------------- */

header {
  padding: 30px 30px 0;
  background-image: url(img/intro-bg.jpg);
  background-size: contain;
  background-position: center;
  background-attachment: fixed;
}

.logo {
  width: 95px;
  height: auto;
}

.header-intro {
  margin: 100px 0 0;
  text-align: center;
  padding: 0 13%;
}

.header-intro h3 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 98%;
  font-weight: 700;
  color: #FEFEFE;
}

.header-intro h1 {
  font-family: "Domine", serif;
  font-weight: 700;
  font-size: 255%;
  color: #EC244C;
  line-height: 1.3;
  letter-spacing: 0;
  word-spacing: 0;
}

.buttons {
  margin-top: 35px;
  margin-bottom: 60px;
}

.btn-header {
  border: 4px solid #A4A6A8;
  color: #FEFEFE;
  letter-spacing: 2px;
  margin: 0 10px;
}

.header-intro img {
  width: 100%
}

/* --------------------------------------- */
/* FEATURES SECTION */
/* --------------------------------------- */

section.features-section {
  background-color: #F9DA4F;
}

.features-intro h2 {
  font-family: "Domine", serif;
  font-size: 250%;
  letter-spacing: 0px;
  font-weight: bold;
  margin-top: 80px;
  color: #011834;
}

.features-intro p {
  line-height: 35px;
  text-align: center;
  width: 75%;
  margin: 0px auto;
  font-weight: 100;
  word-spacing: 1px;
}

.features-intro:after {
  display: block;
  content: " ";
  background-color: #011834;
  width: 125px;
  height: 3px;
  margin: 0 auto;
  margin-top: 30px
}

.features-list {
  margin-top: 50px;
}

.feature {
  padding: 0 25px 15px;
}

.count {
  font-weight: bold;
  font-size: 40px;
  color: #EC244C;
  margin-bottom: 20px;
  display: block;
}

.feature-name {
  font-weight: bold;
}

.feature-detail {
  color: #292C34;
  padding-top: 5px;
  line-height: 30px;
  font-size: 80%;
}


/* --------------------------------------- */
/* STUFF-SECTION */
/* --------------------------------------- */

.stuff-section {
  padding: 0;
}

.stuff-section h5 {
  text-transform: uppercase;
  color: #CDD0D6;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.stuff-section h2 {
  text-align: left;
  font-family: "Domine", serif;
  font-weight: 700;
}

.stuff-section h2:after {
  display: block;
  content: " ";
  background-color: #CDD0D6;
  width: 50px;
  height: 3px;
  margin-top: 15px;
}

.stuff-section p {
  line-height: 30px;
  font-size: 80%;
  margin-bottom: 35px;
}

.stuff-section a {
  background-color: #BEBEBE;
  color: #011835;
}


.content {
  position: relative;
}

.description {
  width: 60%;
  position: absolute;
  top: 300px;
  transform: translateY(-50%);
  text-align: left;
}

.left {
  right: 0;
  padding: 0 40px 0 25px;
}

.display {
  height: 661px;
}

.display {
  margin: 0;
  position: relative;
  background-color: #E2E5E7;
}

.right {
  padding: 0 1px 0 70px;
}

.cool-stuff img {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 60%;
}

.video-stuff figure {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 60%;
  margin: 0;
}
